@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
.hero-container{
    background: url('../../public/images/img-home.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(0,0,0,0.2);
    object-fit: contain;
    position: relative;
}

.gif{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.hero-container > h1{
    font-family: 'Kumbh Sans', sans-serif;
    color: #fff;
    font-size: 90px;
    margin-top: -100px;
    font-weight: bold;
    backdrop-filter: sepia(1);
    width: 100%;
/*     letter-spacing: 5px; */
}

.hero-container > p{
    margin-top: 10px;
    margin-bottom: 25px;
    color: #3caae9;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    backdrop-filter: brightness(0.5);
    width: 100%;
    text-align: center;
}

.hero-btns{
    margin-top: 52px;
}

@media screen and (max-width: 960px){
    .hero-container > h1{
        font-size: 60px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px){
    .hero-container > h1{
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p{
        font-size: 18px;
        text-align: center;
    }
}

.scroll {
    position: absolute;
    bottom: 20%;
    justify-self: flex-end;
    width: 30px;
    height: 70px;
    border: 2px solid white;
    border-radius: 1rem;
}

.scroll::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 35px;
    background-color: white;
    border-radius: 2rem;
    left: 50%;
    top: 4px;
    transform: translate(-50%, 0);
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {
        top: 4px;
    }
    40% {
        top: calc(100% - 39px);
    }
    100% {
        top: 4px;
    }
}